
/* Basic reset */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Set the root font size in the html selector to 10px / 16 = 0.625 or 62.5% */
/* Now we know that 1rem = 10px and makes our life easier */
/* The % allows the user to zoom in or zoom out on the page */

html {
    font-size: 62.5%;  // 1rem = 10px

    @include respond(tab-land) {
        font-size: 56.25%;  // 1rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%;  // 1rem = 8px
    }

    @include respond(big-desktop) {
        font-size: 75%;  // 1rem = 12px
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}


